.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sort-btn {
  background: #6c63ff;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sort-btn:hover {
  background: #5751d6;
}
